/* ---------------------------------------------------------
GENERAL STYLE
----------------------------------------- */

body {
    background: #F5F5F5;
    font-family: 'Nanum Gothic Coding', monospace;
}

a {
    color: black;
    text-decoration: none;
}

a:hover:not(.card-subtext a):not(#cv-button):not(#projects-button):not(.fixed-bottom) {
    color: #43655A;
    text-decoration: none;
    font-weight: bold;
}

.sect {
    padding: 6% 12% 1% 12%;
    min-height: 100vh;
}

h1 {
    font-size: 4rem;
    line-height: 1em;
    align-self: flex-start;
    position: relative;
}

h2 {
    display: inline-block;
    padding-top: 2%;
    padding-bottom: 1%;
}

h3.on-left {
    padding-top: 5%;
    /* padding-bottom: 1%; */
    padding-left: 5%;
}

h3.on-right {
    padding-top: 5%;
    /* padding-bottom: 1%; */
    padding-right: 5%;
    text-align: right;
}

h5 {
    margin: 0;
}




/* ---------------------------------------------------------
INDEX.HTML 
----------------------------------------- */

/* Lines */
.line-horizontal-1::after {
    content: "";
    position: relative;
    display: block;
    width: 245%;
    height: 1px;
    top: 0.7em;
    right: 39%;
    background-color: black;
}

.line-horizontal-2::after {
    content: "";
    position: relative;
    display: block;
    width: 245%;
    height: 1px;
    top: 18.6em;
    right: 125%;
    background-color: black;
}

/* .line-horizontal-3::after {
    content: "";
    position: relative;
    display: block;
    width: 55em;
    height: 0.5px;
    top: -3.09em;
    right: -11em;
    background-color: black;
} */

.line-vertical-1::after {
    content: "";
    position: relative;
    display: block;
    width: 1px;
    height: 46vh;
    top: -3em;
    left: 0.33em;
    background-color: black;
}

.line-vertical-2::after {
    content: "";
    position: relative;
    display: block;
    width: 0.5px;
    height: 35vh;
    top: 0em;
    right: -4.5em;
    background-color: black;
}

/* Text styles */
.div-txt-normal {
    padding-top: 1.5em;
}

.text-normal {
    text-transform: uppercase;
    text-align: right;
    line-height: 1.3em;
}

.par-assets {
    padding-bottom: 1.3em;
    padding-left: 1em;
}

.text-assets {
    text-transform: uppercase;
    display: inline-block;
    padding: 0em 2% 0em 2%;
}

/* Icons */
.ir {
    display: block;
    overflow: visible;
    padding: 0 0 100%;
    position: relative;
    height: 0;
    width: 100%;
}

.ir>* {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.soc {
    display: inline-flex;
    position: absolute;
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    /* width: 174rem; */
    max-width: 100%;
    bottom: 3.3rem;
    right: 12.5rem;
}

.soc li {
    display: inline-block;
    padding: 3%;
    /* margin: 1.2rem; */
}

.soc a,
.soc i {
    display: block;
}

.soc a {
    height: 3.5rem;
    width: 3.5rem;
}




/* ---------------------------------------------------------
PROJECTS.HTML 
----------------------------------------- */

.line-horizontal-1-short::after {
    content: "";
    position: relative;
    display: block;
    width: 185%;
    height: 1px;
    top: 0.7em;
    right: 30%;
    background-color: black;
}

.projects-group {
    padding-top: 1%;
}

.div-btn {
    padding-top: 0.3em;
}

#projects-button {
    display: block;
}

.btn-projects {
    --bs-btn-padding-x: 0.4rem;
    --bs-btn-padding-y: 0.4rem;
    --bs-btn-border-radius: 0.2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}


/* Icons */
.soc-up {
    display: inline-flex;
    position: absolute;
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    /* width: 174rem; */
    max-width: 100%;
    top: 6rem;
    right: 12.3rem;
}

.soc-up li {
    display: inline-block;
    padding: 3%;
    /* margin: 1.2rem; */
}

.soc-up a,
.soc-up i {
    display: block;
}

.soc-up a {
    height: 3.5rem;
    width: 3.5rem;
}

.icon-8:hover,
.icon-13:hover,
.icon-17:hover {
    border-radius: 100%;
    background: #43655A;
    fill: #F5F5F5;
    transform: scale(1.25);
    transition: background-color 0.5s, transform 0.5s ease-out;
}

.icon-8 {
    fill: #43655A;
}

.icon-13 {
    fill: #43655A;
}

.icon-17 {
    fill: #43655A;
}

/* Go-back to index.html button */
.fixed-bottom {
    position: fixed;
    bottom: 7%;
    left: 93%;
    z-index: 1030;
    font-size: xx-large;
}

.btn .fixed-bottom {
    display: inline-block;
    /* position: fixed; */
    /* font-size: 14px; */
    /* font-weight: bold; */
    /* letter-spacing: 2px; */
    /* text-transform: uppercase; */
    /* text-align: center; */
    padding: 0.5%;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    /* cursor: pointer; */
    /* transition: 0.3s; */
    bottom: 7%;
    left: 93%;
    z-index: 100;
    font-size: xx-large;
    /* color: rgb(0, 0, 0); */
}

.btn-2 .fixed-bottom {
    color: rgb(28, 31, 30);
    border: 1px solid rgb(28, 31, 30);
    transition: 0.2s;
}

.btn-2 .fixed-bottom:hover {
    color: rgb(255, 255, 255);
    transition: 0.2s 0.1s;
    background-color: #43655A;
    border: 1px solid #43655A;
}

.card {
    border-radius: 0;
}

.card:hover {
    border-color: #43655A;
    background-color: #43655A;
}

.card-body:hover {
    color: #F5F5F5;
}

.card-title {
    text-transform: uppercase;
    font-weight: 700;
}

.card-subtext {
    text-transform: lowercase;
    font-size: 90%;
}

.card-subtext a:hover {
    font-weight: 700;
    font-style: italic;
}

.card-subtext a {
    color: inherit;
}


/* Filtering */

.btn-filters {
    margin-bottom: 0.5em;
}

.myBtnContainer {
    align-items: center;
    padding-top: 0.3em;
}

button.btn.btn-filters.btn-outline-primary {
    border-radius: 1rem;
}

.filterDiv {
    display: none;
    /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

.badge {
    background-color: #43655A;
    border-radius: 0.2em;
}

.card-body:hover span {
    color: #43655A;
    background-color: #F5F5F5;
}

/* ---------------------------------------------------------
ABOUT.HTML 
----------------------------------------- */

.square {
    border: solid 1px black;
    height: 35em;
    width: 45%;
    padding: 0;
    margin-left: -0.4%;
}

/* Round image */
.images-wrapper {
    background-color: #43655A;
    position: absolute;
    box-shadow: 0px 0px 16px #ccc;
    overflow: hidden;
    padding: 16px;
    z-index: 100;
}

#right-image-wrapper {
    height: 20em;
    width: 20em;
    border-radius: 100%;
    bottom: 30%;
    padding: 1%;
    border: solid 1px black;
}

#right-image-wrapper img {
    width: 140%;
    position: absolute;
    right: -20%;
    bottom: -25%;
    transform: scale(80%);
}

.border-images-wrapper {
    background-color: #F5F5F5;
    position: absolute;
    box-shadow: 0px 0px 16px #ccc;
    overflow: hidden;
    padding: 16px;
}

#border-image-wrapper {
    height: 20.5em;
    width: 20.5em;
    border-radius: 100%;
    bottom: 29.5%;
    border: solid 1px black;
}

#border-square {
    position: relative;
    width: auto;
    /* border-radius: 100%; */
    bottom: 6em;
    padding: 0.5% 1%;
    border: solid 1px black;
    z-index: 200;
    background-color: #43655A;
}

.contact {
    color: #F5F5F5;
}

.contact p {
    text-align: center;
    font-size: small;
    margin: 0;
}

#border-square:hover {
    background-color: #F5F5F5;
    color: #43655A;
}

.text-about-me {
    line-height: 1.3em;
    /* font-size: 85%; */
    position: relative;
    text-align: left;
    z-index: 200;
    padding: 1% 32% 5% 5%;
    margin: 0;
}

.text-interests {
    line-height: 1.3em;
    /* font-size: 85%; */
    position: relative;
    text-align: right;
    z-index: 200;
    padding: 14% 5% 5% 32%;
    margin: 0;
}




/* ---------------------------------------------------------
CV.HTML 
----------------------------------------- */

.line-horizontal-2-short::after {
    content: "";
    position: relative;
    display: block;
    width: 170%;
    height: 1px;
    top: 0.7em;
    right: 15%;
    background-color: black;
}

.cv-text {
    padding-top: 5%;
}

.cv-section {
    margin-bottom: 2.5em;
}

.cv-item {
    margin-bottom: 2em;
    margin-top: 1em;
}

.cv-item-location {
    text-transform: uppercase;
}

.skills {
    margin-bottom: 3em;
}

.btn-outline-primary {
    --bs-btn-color: #43655A;
    --bs-btn-border-color: #43655A;
    --bs-btn-hover-color: #F5F5F5;
    --bs-btn-hover-bg: #43655A;
    --bs-btn-hover-border-color: #43655A;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #F5F5F5;
    --bs-btn-active-bg: #43655A;
    --bs-btn-active-border-color: #43655A;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #43655A;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #43655A;
    --bs-gradient: none;
}

#cv-button {
    padding: 1% 3%;
}

.btn-cv {
    --bs-btn-padding-x: 0.4rem;
    --bs-btn-padding-y: 0.4rem;
    --bs-btn-border-radius: 0.2em;
    margin-top: 0.5em;
}




/* ---------------------------------------------------------
PUBLICATIONS.HTML 
----------------------------------------- */

.line-horizontal-3-short::after {
    content: "";
    position: relative;
    display: block;
    width: 150%;
    height: 1px;
    top: 0.7em;
    right: -1%;
    background-color: black;
}